* {
    color: white;
}

html {
    scroll-behavior: smooth;
}

.anchor {
    display: block;
    height: 115px;
    /*same height as header*/
    margin-top: -115px;
    /*same height as header*/
    visibility: hidden;
}

.box {
    height: 100vh;
    width: 100%;
    align-items: center;
}
@media only screen and (max-width: 1024px) {
    .nav{
       visibility: hidden; 
    }
  }